<h2>PerttController#Amend</h2>

<canvas id="<%= @canvas_id %>"></canvas>

<%= javascript_tag do -%>
	var job_list = null;
	var pertt_canvas_id = "<%= @canvas_id %>"
	var import_chart = <%= raw @chart_model || "null" %>;
	initialise('<%= @canvas_id %>');
<% end -%>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'perttchart.css', :plugin => 'pertt' %>
    <%= javascript_include_tag 'perttchart.js', :plugin => 'pertt' %>
    <%= javascript_include_tag 'drawingprimatives.js', :plugin => 'pertt' %>
<% end %>

