<div class="contextual">
	<%= link_to 'chart create', { :action => 'create' } , { :class => 'icon icon-add' } %>
</div>

<h2>Pertt Charts</h2>

<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th>name</th>
  <th></th>
  </tr></thead>
  <tbody>
	<% @charts.each do |chart| %>
		<tr class="user <%= cycle("odd", "even") %>">
		<td class="name"><%= link_to h(chart.name), { :id => chart.id, :action => 'edit'} %></td>
		<td class="buttons">
			<%= change_status_link(chart) %>
			<%= link_to 'Amend', { :id => chart.id, :action => 'amend' } , { :class => 'icon icon-edit' } %>
			<%= delete_link pertt_chart_path(chart) %>
		</td>
	  </tr>
	<% end -%>
  </tbody>
</table>
</div>

